<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>uat</td><td>ChangeInStock.C003_SwitchToInStock_OldProduct()[pri:0, instance:ChangeInStock@3f866f50]<br/></td></tr>
</table>
