<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>InstockSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6d61be">  <td>18/12/07 09:18:45</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:ChangeInStock@4c7f2fdb]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 09:18:45</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:ChangeInStock@4c7f2fdb]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 09:18:45</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeInStock@4c7f2fdb]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="a387ed">  <td>18/12/07 09:18:48</td>   <td>2258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeInStock.C003_SwitchToInStock_OldProduct()[pri:0, instance:ChangeInStock@4c7f2fdb]">C003_SwitchToInStock_OldProduct</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 09:19:46</td>   <td>60378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeInStock@4c7f2fdb]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 09:19:48</td>   <td>62927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeInStock@4c7f2fdb]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="a387ed">  <td>18/12/07 09:19:50</td>   <td>65111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeInStock.C004_SwitchToOutOfStock_OldProduct()[pri:0, instance:ChangeInStock@4c7f2fdb]">C004_SwitchToOutOfStock_OldProduct</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 09:20:40</td>   <td>114795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeInStock@4c7f2fdb]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 09:20:43</td>   <td>117257</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:ChangeInStock@4c7f2fdb]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 09:20:43</td>   <td>117257</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeInStock@4c7f2fdb]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
</table>
