<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>XSS</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>C019_ProductDescriptionContainsXSS03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C011_DescriptionContainsXSS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C013_TaxCodeContainsXSS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C002_XSS2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C002_XSS3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C014_AddressContainsXSS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C002_XSS1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C020_ProductDescriptionContainsXSS04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C020_ProductDescriptionContainsXSS05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C018_ProductDescriptionContainsXSS02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C002_XSS4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C022_ProductNameContainsXSS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C017_ProductDescriptionContainsXSS01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C012_SellerContainsXSS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C021_ProductSKUContainsXSS</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseTearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classTearDown</td>
<td>&nbsp;</td></tr>
</table>
