<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ProgramSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62ada6">  <td>18/07/19 16:44:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFromSeller.C001_LoginWithInvalidData()[pri:0, instance:login.LoginFromSeller@6df97b55]">C001_LoginWithInvalidData</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>18/07/19 16:45:20</td>   <td>45080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFromSeller.C002_LoginWithValidData()[pri:0, instance:login.LoginFromSeller@6df97b55]">C002_LoginWithValidData</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 16:44:30</td>   <td>-4577</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:login.LoginFromSeller@6df97b55]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 16:45:42</td>   <td>67595</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:login.LoginFromSeller@6df97b55]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 16:44:30</td>   <td>-5289</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:login.LoginFromSeller@6df97b55]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 16:45:42</td>   <td>67629</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext)[pri:0, instance:login.LoginFromSeller@6df97b55]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 16:44:30</td>   <td>-4569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:login.LoginFromSeller@6df97b55]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 16:45:17</td>   <td>42355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:login.LoginFromSeller@6df97b55]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 16:45:17</td>   <td>42212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:login.LoginFromSeller@6df97b55]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 16:45:40</td>   <td>65514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:login.LoginFromSeller@6df97b55]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
</table>
