<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ChangeShopInfo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>C006_SellerOver60Chars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C004_DescriptionOver6000Chars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C005_EmptySeller</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C001_ChangeShopInfoWithValidData</td>
<td>uat </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>C003_EmptyDescription</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C008_NoAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C007_TaxCodeOver100Chars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C002_SloganOver100Chars</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseTearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classTearDown</td>
<td>&nbsp;</td></tr>
</table>
