<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>uat</td><td>ChangeShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:ChangeShopInfo@4743a322]<br/></td></tr>
</table>
