<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ShopInfoSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:40:07</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:40:07</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:40:07</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:40:09</td>   <td>2238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:ChangeShopInfo@4743a322]">C001_ChangeShopInfoWithValidData</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:41:15</td>   <td>68527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:41:18</td>   <td>70951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:41:20</td>   <td>73122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C002_SloganOver100Chars()[pri:0, instance:ChangeShopInfo@4743a322]">C002_SloganOver100Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:42:05</td>   <td>118702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:42:08</td>   <td>121149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:42:10</td>   <td>123296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C003_EmptyDescription()[pri:0, instance:ChangeShopInfo@4743a322]">C003_EmptyDescription</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:42:55</td>   <td>168026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:42:57</td>   <td>170439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:42:59</td>   <td>172605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C004_DescriptionOver6000Chars()[pri:0, instance:ChangeShopInfo@4743a322]">C004_DescriptionOver6000Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:44:59</td>   <td>292134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:45:01</td>   <td>294294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:45:03</td>   <td>296480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C005_EmptySeller()[pri:0, instance:ChangeShopInfo@4743a322]">C005_EmptySeller</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:45:55</td>   <td>347787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:46:04</td>   <td>357076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:46:06</td>   <td>359264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C005_EmptySeller()[pri:0, instance:ChangeShopInfo@4743a322]">C005_EmptySeller</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:46:51</td>   <td>404177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:46:53</td>   <td>406584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:46:56</td>   <td>408773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C006_SellerOver60Chars()[pri:0, instance:ChangeShopInfo@4743a322]">C006_SellerOver60Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:47:38</td>   <td>451104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:47:41</td>   <td>453772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:47:43</td>   <td>456006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C007_TaxCodeOver100Chars()[pri:0, instance:ChangeShopInfo@4743a322]">C007_TaxCodeOver100Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:48:25</td>   <td>498621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:48:28</td>   <td>501033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="72bfea">  <td>18/12/07 08:48:30</td>   <td>503172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C008_NoAddress()[pri:0, instance:ChangeShopInfo@4743a322]">C008_NoAddress</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:49:09</td>   <td>542364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:49:11</td>   <td>544768</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>18/12/07 08:49:12</td>   <td>544780</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@4743a322]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
</table>
