<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>OrderSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e7bab">  <td>18/08/06 08:21:28</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:salesorder.CanCancel@483b0690]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1345636186</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>18/08/06 08:21:28</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:salesorder.CanCancel@483b0690]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1345636186</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>18/08/06 08:21:28</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:salesorder.CanCancel@483b0690]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1345636186</td>   <td></td> </tr>
<tr bgcolor="8f6169">  <td>18/08/06 08:21:30</td>   <td>2134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CanCancel.cancelByOtherReason()[pri:0, instance:salesorder.CanCancel@483b0690]">cancelByOtherReason</td> 
  <td>main@1345636186</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>18/08/06 08:24:26</td>   <td>177805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:salesorder.CanCancel@483b0690]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1345636186</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>18/08/06 08:24:28</td>   <td>180257</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:salesorder.CanCancel@483b0690]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1345636186</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>18/08/06 08:24:28</td>   <td>180257</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext)[pri:0, instance:salesorder.CanCancel@483b0690]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1345636186</td>   <td></td> </tr>
</table>
