<h2>Methods that were not run</h2><table>
<tr><td>SetShippingSupport.TestCase08</td></tr>
<tr><td>SetShippingSupport.TestCase07</td></tr>
<tr><td>SetShippingSupport.TestCase09</td></tr>
<tr><td>SetShippingSupport.TestCase04</td></tr>
<tr><td>SetShippingSupport.TestCase03</td></tr>
<tr><td>SetShippingSupport.TestCase06</td></tr>
<tr><td>SetShippingSupport.TestCase05</td></tr>
<tr><td>SetShippingSupport.TestCase10</td></tr>
<tr><td>SetShippingSupport.TestCase02</td></tr>
</table>