<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ProductSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:10:03</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:10:04</td>   <td>1031</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:10:04</td>   <td>1047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:10:08</td>   <td>5283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C001_AddNewProductWithSubmit()[pri:0, instance:product.AddNewProduct@56ac3a89]">C001_AddNewProductWithSubmit</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:12:09</td>   <td>125749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:12:11</td>   <td>128615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:12:14</td>   <td>130806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C002_AddNewProductWithSubmitAndCreate()[pri:0, instance:product.AddNewProduct@56ac3a89]">C002_AddNewProductWithSubmitAndCreate</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:14:06</td>   <td>242874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:14:08</td>   <td>245374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:14:11</td>   <td>247666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C003_NoProductPhoto()[pri:0, instance:product.AddNewProduct@56ac3a89]">C003_NoProductPhoto</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:15:18</td>   <td>315524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:15:21</td>   <td>317835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:15:23</td>   <td>320034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C004_NoCategory()[pri:0, instance:product.AddNewProduct@56ac3a89]">C004_NoCategory</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:16:29</td>   <td>385830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:16:31</td>   <td>388300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:16:33</td>   <td>390383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C005_NoProductName()[pri:0, instance:product.AddNewProduct@56ac3a89]">C005_NoProductName</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:17:50</td>   <td>466817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:17:52</td>   <td>469309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:17:54</td>   <td>471459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C006_ProductNameOver70Chars()[pri:0, instance:product.AddNewProduct@56ac3a89]">C006_ProductNameOver70Chars</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:19:01</td>   <td>538073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:19:03</td>   <td>540537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:19:06</td>   <td>542634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C007_ProductNameSpecialChars()[pri:0, instance:product.AddNewProduct@56ac3a89]">C007_ProductNameSpecialChars</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:20:08</td>   <td>604902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:20:10</td>   <td>607318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:20:12</td>   <td>609490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C008_NoProductSku()[pri:0, instance:product.AddNewProduct@56ac3a89]">C008_NoProductSku</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:21:18</td>   <td>675105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:21:20</td>   <td>677298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:21:22</td>   <td>679523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C009_ProductSkuOver30Chars()[pri:0, instance:product.AddNewProduct@56ac3a89]">C009_ProductSkuOver30Chars</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:22:30</td>   <td>747109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:22:32</td>   <td>749557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:22:35</td>   <td>751750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C010_AddExistingProductSku()[pri:0, instance:product.AddNewProduct@56ac3a89]">C010_AddExistingProductSku</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:23:42</td>   <td>819379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:23:44</td>   <td>821554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:23:47</td>   <td>823704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C011_NoProductPrice()[pri:0, instance:product.AddNewProduct@56ac3a89]">C011_NoProductPrice</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:25:05</td>   <td>902289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:25:08</td>   <td>904734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:25:10</td>   <td>906881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C012_NoProductUnit()[pri:0, instance:product.AddNewProduct@56ac3a89]">C012_NoProductUnit</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:26:18</td>   <td>974702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:26:20</td>   <td>977140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:26:22</td>   <td>979292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C013_NoProductWeight()[pri:0, instance:product.AddNewProduct@56ac3a89]">C013_NoProductWeight</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:27:41</td>   <td>1057903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:27:43</td>   <td>1060407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:27:45</td>   <td>1062545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C014_NoProductDescription()[pri:0, instance:product.AddNewProduct@56ac3a89]">C014_NoProductDescription</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:28:46</td>   <td>1122768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:28:48</td>   <td>1125174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:28:50</td>   <td>1127314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C015_ProductDescriptionLowerThan30Chars()[pri:0, instance:product.AddNewProduct@56ac3a89]">C015_ProductDescriptionLowerThan30Chars</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:29:50</td>   <td>1187466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:29:51</td>   <td>1187674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:29:53</td>   <td>1189838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C017_ProductDescriptionContainsXSS01()[pri:0, instance:product.AddNewProduct@56ac3a89]">C017_ProductDescriptionContainsXSS01</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:31:35</td>   <td>1292535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:31:38</td>   <td>1295040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:31:40</td>   <td>1297182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C018_ProductDescriptionContainsXSS02()[pri:0, instance:product.AddNewProduct@56ac3a89]">C018_ProductDescriptionContainsXSS02</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:33:24</td>   <td>1401026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:33:26</td>   <td>1403485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:33:28</td>   <td>1405585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C019_ProductDescriptionContainsXSS03()[pri:0, instance:product.AddNewProduct@56ac3a89]">C019_ProductDescriptionContainsXSS03</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:35:20</td>   <td>1516860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:35:22</td>   <td>1519311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:35:24</td>   <td>1521368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C020_ProductDescriptionContainsXSS04()[pri:0, instance:product.AddNewProduct@56ac3a89]">C020_ProductDescriptionContainsXSS04</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:37:15</td>   <td>1632594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:37:18</td>   <td>1635079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:37:20</td>   <td>1637203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C021_ProductSKUContainsXSS()[pri:0, instance:product.AddNewProduct@56ac3a89]">C021_ProductSKUContainsXSS</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:38:39</td>   <td>1715865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:38:41</td>   <td>1718322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:38:43</td>   <td>1720463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C022_ProductNameContainsXSS()[pri:0, instance:product.AddNewProduct@56ac3a89]">C022_ProductNameContainsXSS</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:39:59</td>   <td>1796554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:40:02</td>   <td>1798880</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:40:02</td>   <td>1798911</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
</table>
