<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ProductSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:10:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C001_AddNewProductWithSubmit()[pri:0, instance:product.AddNewProduct@56ac3a89]">C001_AddNewProductWithSubmit</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:12:14</td>   <td>125523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C002_AddNewProductWithSubmitAndCreate()[pri:0, instance:product.AddNewProduct@56ac3a89]">C002_AddNewProductWithSubmitAndCreate</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:14:11</td>   <td>242383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C003_NoProductPhoto()[pri:0, instance:product.AddNewProduct@56ac3a89]">C003_NoProductPhoto</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:15:23</td>   <td>314751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C004_NoCategory()[pri:0, instance:product.AddNewProduct@56ac3a89]">C004_NoCategory</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:16:33</td>   <td>385100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C005_NoProductName()[pri:0, instance:product.AddNewProduct@56ac3a89]">C005_NoProductName</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:17:54</td>   <td>466176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C006_ProductNameOver70Chars()[pri:0, instance:product.AddNewProduct@56ac3a89]">C006_ProductNameOver70Chars</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:19:06</td>   <td>537351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C007_ProductNameSpecialChars()[pri:0, instance:product.AddNewProduct@56ac3a89]">C007_ProductNameSpecialChars</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:20:12</td>   <td>604207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C008_NoProductSku()[pri:0, instance:product.AddNewProduct@56ac3a89]">C008_NoProductSku</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:21:22</td>   <td>674240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C009_ProductSkuOver30Chars()[pri:0, instance:product.AddNewProduct@56ac3a89]">C009_ProductSkuOver30Chars</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:22:35</td>   <td>746467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C010_AddExistingProductSku()[pri:0, instance:product.AddNewProduct@56ac3a89]">C010_AddExistingProductSku</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:23:47</td>   <td>818421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C011_NoProductPrice()[pri:0, instance:product.AddNewProduct@56ac3a89]">C011_NoProductPrice</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:25:10</td>   <td>901598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C012_NoProductUnit()[pri:0, instance:product.AddNewProduct@56ac3a89]">C012_NoProductUnit</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:26:22</td>   <td>974009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C013_NoProductWeight()[pri:0, instance:product.AddNewProduct@56ac3a89]">C013_NoProductWeight</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:27:45</td>   <td>1057262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C014_NoProductDescription()[pri:0, instance:product.AddNewProduct@56ac3a89]">C014_NoProductDescription</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:28:50</td>   <td>1122031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C015_ProductDescriptionLowerThan30Chars()[pri:0, instance:product.AddNewProduct@56ac3a89]">C015_ProductDescriptionLowerThan30Chars</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:29:53</td>   <td>1184555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C017_ProductDescriptionContainsXSS01()[pri:0, instance:product.AddNewProduct@56ac3a89]">C017_ProductDescriptionContainsXSS01</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:31:40</td>   <td>1291899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C018_ProductDescriptionContainsXSS02()[pri:0, instance:product.AddNewProduct@56ac3a89]">C018_ProductDescriptionContainsXSS02</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:33:28</td>   <td>1400302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C019_ProductDescriptionContainsXSS03()[pri:0, instance:product.AddNewProduct@56ac3a89]">C019_ProductDescriptionContainsXSS03</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:35:24</td>   <td>1516085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C020_ProductDescriptionContainsXSS04()[pri:0, instance:product.AddNewProduct@56ac3a89]">C020_ProductDescriptionContainsXSS04</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:37:20</td>   <td>1631920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C021_ProductSKUContainsXSS()[pri:0, instance:product.AddNewProduct@56ac3a89]">C021_ProductSKUContainsXSS</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/12 11:38:43</td>   <td>1715180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C022_ProductNameContainsXSS()[pri:0, instance:product.AddNewProduct@56ac3a89]">C022_ProductNameContainsXSS</td> 
  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:10:04</td>   <td>-4252</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:40:02</td>   <td>1793597</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:10:03</td>   <td>-5283</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:40:02</td>   <td>1793628</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:10:04</td>   <td>-4236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:12:11</td>   <td>123332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:14:08</td>   <td>240091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:15:21</td>   <td>312552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:16:31</td>   <td>383017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:17:52</td>   <td>464026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:19:03</td>   <td>535254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:20:10</td>   <td>602035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:21:20</td>   <td>672015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:22:32</td>   <td>744274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:23:44</td>   <td>816271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:25:08</td>   <td>899451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:26:20</td>   <td>971857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:27:43</td>   <td>1055124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:28:48</td>   <td>1119891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:29:51</td>   <td>1182391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:31:38</td>   <td>1289757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:33:26</td>   <td>1398202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:35:22</td>   <td>1514028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:37:18</td>   <td>1629796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:38:41</td>   <td>1713039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.AddNewProduct@56ac3a89]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:12:09</td>   <td>120466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:14:06</td>   <td>237591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:15:18</td>   <td>310241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:16:29</td>   <td>380547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:17:50</td>   <td>461534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:19:01</td>   <td>532790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:20:08</td>   <td>599619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:21:18</td>   <td>669822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:22:30</td>   <td>741826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:23:42</td>   <td>814096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:25:05</td>   <td>897006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:26:18</td>   <td>969419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:27:41</td>   <td>1052620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:28:46</td>   <td>1117485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:29:50</td>   <td>1182183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:31:35</td>   <td>1287252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:33:24</td>   <td>1395743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:35:20</td>   <td>1511577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:37:15</td>   <td>1627311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:38:39</td>   <td>1710582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/11/12 11:39:59</td>   <td>1791271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.AddNewProduct@56ac3a89]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@923219673</td>   <td></td> </tr>
</table>
