<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FirefoxSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86f066">  <td>18/12/07 12:43:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C002_XSS1()[pri:0, instance:XSS@d3e9629]">C002_XSS1</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:44:13</td>   <td>52359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C002_XSS2()[pri:0, instance:XSS@d3e9629]">C002_XSS2</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:45:06</td>   <td>105661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C002_XSS3()[pri:0, instance:XSS@d3e9629]">C002_XSS3</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:45:59</td>   <td>158728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C002_XSS4()[pri:0, instance:XSS@d3e9629]">C002_XSS4</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:46:53</td>   <td>212769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C011_DescriptionContainsXSS()[pri:0, instance:XSS@d3e9629]">C011_DescriptionContainsXSS</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:47:55</td>   <td>274390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C012_SellerContainsXSS()[pri:0, instance:XSS@d3e9629]">C012_SellerContainsXSS</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:48:55</td>   <td>334580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C013_TaxCodeContainsXSS()[pri:0, instance:XSS@d3e9629]">C013_TaxCodeContainsXSS</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:49:55</td>   <td>394751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C014_AddressContainsXSS()[pri:0, instance:XSS@d3e9629]">C014_AddressContainsXSS</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:51:16</td>   <td>475665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C017_ProductDescriptionContainsXSS01()[pri:0, instance:XSS@d3e9629]">C017_ProductDescriptionContainsXSS01</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:54:00</td>   <td>639935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C018_ProductDescriptionContainsXSS02()[pri:0, instance:XSS@d3e9629]">C018_ProductDescriptionContainsXSS02</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:56:43</td>   <td>802234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C019_ProductDescriptionContainsXSS03()[pri:0, instance:XSS@d3e9629]">C019_ProductDescriptionContainsXSS03</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:59:11</td>   <td>950658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C019_ProductDescriptionContainsXSS03()[pri:0, instance:XSS@d3e9629]">C019_ProductDescriptionContainsXSS03</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:59:11</td>   <td>950658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C020_ProductDescriptionContainsXSS04()[pri:0, instance:XSS@d3e9629]">C020_ProductDescriptionContainsXSS04</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:59:11</td>   <td>950658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C020_ProductDescriptionContainsXSS05()[pri:0, instance:XSS@d3e9629]">C020_ProductDescriptionContainsXSS05</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:59:11</td>   <td>950658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C021_ProductSKUContainsXSS()[pri:0, instance:XSS@d3e9629]">C021_ProductSKUContainsXSS</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="86f066">  <td>18/12/07 12:59:11</td>   <td>950659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C022_ProductNameContainsXSS()[pri:0, instance:XSS@d3e9629]">C022_ProductNameContainsXSS</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:43:15</td>   <td>-5783</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:XSS@d3e9629]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:43:15</td>   <td>-5824</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:XSS@d3e9629]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:43:15</td>   <td>-5783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:44:07</td>   <td>46993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:45:01</td>   <td>100481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:45:53</td>   <td>153029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:46:47</td>   <td>206949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:47:49</td>   <td>268682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:48:49</td>   <td>328963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:49:50</td>   <td>389050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:51:08</td>   <td>467534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:53:51</td>   <td>630920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:56:36</td>   <td>795760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@d3e9629]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:44:04</td>   <td>43902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:44:58</td>   <td>97867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:45:51</td>   <td>150419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:46:45</td>   <td>204177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:47:46</td>   <td>265994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:48:47</td>   <td>326584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:49:47</td>   <td>386457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:51:05</td>   <td>464580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:53:48</td>   <td>627879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:56:33</td>   <td>792802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 12:58:50</td>   <td>929800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@d3e9629]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
</table>
