<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>UAT</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>18/12/06 16:15:51</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:UAT@6e1ec318]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:15:52</td>   <td>1000</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:UAT@6e1ec318]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:15:52</td>   <td>1000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/12/06 16:15:56</td>   <td>4822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UAT.C001_AddNewProductWithSubmit()[pri:0, instance:UAT@6e1ec318]">C001_AddNewProductWithSubmit</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:17:55</td>   <td>124347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:17:58</td>   <td>127230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/12/06 16:18:00</td>   <td>129408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UAT.C001_AddPromotionByPercent()[pri:0, instance:UAT@6e1ec318]">C001_AddPromotionByPercent</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:20:45</td>   <td>294282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:20:48</td>   <td>297069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/12/06 16:20:50</td>   <td>299318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UAT.C001_ChatToBuyer()[pri:0, instance:UAT@6e1ec318]">C001_ChatToBuyer</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:21:21</td>   <td>330277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:21:24</td>   <td>332674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/12/06 16:21:26</td>   <td>334863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UAT.C001_EditNewProduct()[pri:0, instance:UAT@6e1ec318]">C001_EditNewProduct</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:23:57</td>   <td>485775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:23:57</td>   <td>486116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/12/06 16:23:59</td>   <td>488309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UAT.C001_SendPrivateOfferByPercent()[pri:0, instance:UAT@6e1ec318]">C001_SendPrivateOfferByPercent</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:26:42</td>   <td>651263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:26:45</td>   <td>653718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/12/06 16:26:47</td>   <td>655916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UAT.cancelByOtherReason()[pri:0, instance:UAT@6e1ec318]">cancelByOtherReason</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:29:40</td>   <td>828745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:29:42</td>   <td>831326</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:UAT@6e1ec318]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/12/06 16:29:42</td>   <td>831353</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:UAT@6e1ec318]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
</table>
