<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acaea5">  <td>19/01/03 09:25:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddBlog.C001_AddBlogWithValidData()[pri:0, instance:AddBlog@20322d26]">C001_AddBlogWithValidData</td> 
  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/01/03 09:25:30</td>   <td>-5693</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:AddBlog@20322d26]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/01/03 09:27:39</td>   <td>122966</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:AddBlog@20322d26]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/01/03 09:25:29</td>   <td>-6677</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:AddBlog@20322d26]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/01/03 09:27:39</td>   <td>122992</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:AddBlog@20322d26]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/01/03 09:25:30</td>   <td>-5677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:AddBlog@20322d26]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/01/03 09:27:29</td>   <td>113365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:AddBlog@20322d26]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
</table>
