<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ShopInfo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:12:26</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:12:26</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:12:26</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:12:28</td>   <td>2147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:ChangeShopInfo@47447ccf]">C001_ChangeShopInfoWithValidData</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:13:17</td>   <td>51068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:13:35</td>   <td>68891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:13:37</td>   <td>71009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:ChangeShopInfo@47447ccf]">C001_ChangeShopInfoWithValidData</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:14:28</td>   <td>122345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:15:29</td>   <td>183240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:15:31</td>   <td>185342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C002_SloganOver100Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C002_SloganOver100Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:16:22</td>   <td>235946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:16:37</td>   <td>250872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:16:39</td>   <td>252988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C002_SloganOver100Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C002_SloganOver100Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:17:49</td>   <td>322538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:18:04</td>   <td>337626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:18:06</td>   <td>339817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C003_EmptyDescription()[pri:0, instance:ChangeShopInfo@47447ccf]">C003_EmptyDescription</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:18:50</td>   <td>384443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:19:00</td>   <td>394271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:19:02</td>   <td>396356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C003_EmptyDescription()[pri:0, instance:ChangeShopInfo@47447ccf]">C003_EmptyDescription</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:19:43</td>   <td>437228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:19:58</td>   <td>452141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:20:00</td>   <td>454266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C004_DescriptionOver6000Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C004_DescriptionOver6000Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:22:18</td>   <td>591540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:22:28</td>   <td>601611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:22:30</td>   <td>603720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C004_DescriptionOver6000Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C004_DescriptionOver6000Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:24:42</td>   <td>735894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:25:15</td>   <td>768985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:17</td>   <td>771131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C005_EmptySeller()[pri:0, instance:ChangeShopInfo@47447ccf]">C005_EmptySeller</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:25:51</td>   <td>805054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:53</td>   <td>807183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C005_EmptySeller()[pri:0, instance:ChangeShopInfo@47447ccf]">C005_EmptySeller</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:53</td>   <td>807184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C006_SellerOver60Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C006_SellerOver60Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:53</td>   <td>807184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C007_TaxCodeOver100Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C007_TaxCodeOver100Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:53</td>   <td>807185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C008_NoAddress()[pri:0, instance:ChangeShopInfo@47447ccf]">C008_NoAddress</td> 
  <td>main@1509563803</td>   <td></td> </tr>
</table>
