<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ShopInfo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:12:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:ChangeShopInfo@47447ccf]">C001_ChangeShopInfoWithValidData</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:13:37</td>   <td>68862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:ChangeShopInfo@47447ccf]">C001_ChangeShopInfoWithValidData</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:15:31</td>   <td>183195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C002_SloganOver100Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C002_SloganOver100Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:16:39</td>   <td>250841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C002_SloganOver100Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C002_SloganOver100Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:18:06</td>   <td>337670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C003_EmptyDescription()[pri:0, instance:ChangeShopInfo@47447ccf]">C003_EmptyDescription</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:19:02</td>   <td>394209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C003_EmptyDescription()[pri:0, instance:ChangeShopInfo@47447ccf]">C003_EmptyDescription</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:20:00</td>   <td>452119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C004_DescriptionOver6000Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C004_DescriptionOver6000Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:22:30</td>   <td>601573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C004_DescriptionOver6000Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C004_DescriptionOver6000Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:17</td>   <td>768984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C005_EmptySeller()[pri:0, instance:ChangeShopInfo@47447ccf]">C005_EmptySeller</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:53</td>   <td>805036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C005_EmptySeller()[pri:0, instance:ChangeShopInfo@47447ccf]">C005_EmptySeller</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:53</td>   <td>805037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C006_SellerOver60Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C006_SellerOver60Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:53</td>   <td>805037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C007_TaxCodeOver100Chars()[pri:0, instance:ChangeShopInfo@47447ccf]">C007_TaxCodeOver100Chars</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c6bbbe">  <td>19/02/14 14:25:53</td>   <td>805038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeShopInfo.C008_NoAddress()[pri:0, instance:ChangeShopInfo@47447ccf]">C008_NoAddress</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:12:26</td>   <td>-2115</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:12:26</td>   <td>-2147</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:12:26</td>   <td>-2115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:13:35</td>   <td>66744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:15:29</td>   <td>181093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:16:37</td>   <td>248725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:18:04</td>   <td>335479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:19:00</td>   <td>392124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:19:58</td>   <td>449994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:22:28</td>   <td>599464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:25:15</td>   <td>766838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:13:17</td>   <td>48921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:14:28</td>   <td>120198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:16:22</td>   <td>233799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:17:49</td>   <td>320391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:18:50</td>   <td>382296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:19:43</td>   <td>435081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:22:18</td>   <td>589393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:24:42</td>   <td>733747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/14 14:25:51</td>   <td>802907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:ChangeShopInfo@47447ccf]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
</table>
