<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AddProduct</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="807382">  <td>18/12/07 16:36:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C001_AddNewProductWithSubmit()[pri:0, instance:AddNewProduct@3520958b]">C001_AddNewProductWithSubmit</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:38:11</td>   <td>108358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C001_AddNewProductWithSubmit()[pri:0, instance:AddNewProduct@3520958b]">C001_AddNewProductWithSubmit</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:39:55</td>   <td>212832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C002_AddNewProductWithSubmitAndCreate()[pri:0, instance:AddNewProduct@3520958b]">C002_AddNewProductWithSubmitAndCreate</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C002_AddNewProductWithSubmitAndCreate()[pri:0, instance:AddNewProduct@3520958b]">C002_AddNewProductWithSubmitAndCreate</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C003_NoProductPhoto()[pri:0, instance:AddNewProduct@3520958b]">C003_NoProductPhoto</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C004_NoCategory()[pri:0, instance:AddNewProduct@3520958b]">C004_NoCategory</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C005_NoProductName()[pri:0, instance:AddNewProduct@3520958b]">C005_NoProductName</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C006_ProductNameOver250Chars()[pri:0, instance:AddNewProduct@3520958b]">C006_ProductNameOver250Chars</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C007_ProductNameSpecialChars()[pri:0, instance:AddNewProduct@3520958b]">C007_ProductNameSpecialChars</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C008_NoProductSku()[pri:0, instance:AddNewProduct@3520958b]">C008_NoProductSku</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C009_ProductSkuOver30Chars()[pri:0, instance:AddNewProduct@3520958b]">C009_ProductSkuOver30Chars</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C010_AddExistingProductSku()[pri:0, instance:AddNewProduct@3520958b]">C010_AddExistingProductSku</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C011_NoProductPrice()[pri:0, instance:AddNewProduct@3520958b]">C011_NoProductPrice</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C012_NoProductUnit()[pri:0, instance:AddNewProduct@3520958b]">C012_NoProductUnit</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C013_NoProductWeight()[pri:0, instance:AddNewProduct@3520958b]">C013_NoProductWeight</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C014_NoProductDescription()[pri:0, instance:AddNewProduct@3520958b]">C014_NoProductDescription</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="807382">  <td>18/12/07 16:41:50</td>   <td>327232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewProduct.C015_ProductDescriptionLowerThan30Chars()[pri:0, instance:AddNewProduct@3520958b]">C015_ProductDescriptionLowerThan30Chars</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 16:36:20</td>   <td>-2190</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:AddNewProduct@3520958b]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 16:36:20</td>   <td>-2205</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:AddNewProduct@3520958b]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 16:36:20</td>   <td>-2174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:AddNewProduct@3520958b]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 16:38:09</td>   <td>106151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:AddNewProduct@3520958b]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 16:39:53</td>   <td>210651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:AddNewProduct@3520958b]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 16:37:59</td>   <td>96735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:AddNewProduct@3520958b]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 16:39:46</td>   <td>203876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:AddNewProduct@3520958b]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="a7b1b3">  <td>18/12/07 16:41:29</td>   <td>306696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:AddNewProduct@3520958b]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
</table>
