<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DeleteProductSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92dae4">  <td>18/10/16 06:34:12</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:product.DeleteProduct@1b19712f]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/10/16 06:34:12</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:product.DeleteProduct@1b19712f]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/10/16 06:34:12</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.DeleteProduct@1b19712f]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="7ad0da">  <td>18/10/16 06:34:14</td>   <td>2126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteProduct.C001_DeleteProduct()[pri:0, instance:product.DeleteProduct@1b19712f]">C001_DeleteProduct</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/10/16 06:35:11</td>   <td>59231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.DeleteProduct@1b19712f]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/10/16 06:35:14</td>   <td>61980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:product.DeleteProduct@1b19712f]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="7ad0da">  <td>18/10/16 06:35:16</td>   <td>64184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteProduct.C001_DeleteProduct()[pri:0, instance:product.DeleteProduct@1b19712f]">C001_DeleteProduct</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/10/16 06:36:44</td>   <td>152670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:product.DeleteProduct@1b19712f]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/10/16 06:36:47</td>   <td>155023</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:product.DeleteProduct@1b19712f]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/10/16 06:36:47</td>   <td>155039</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext)[pri:0, instance:product.DeleteProduct@1b19712f]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
</table>
