<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Chat</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5ab66">  <td>19/02/18 10:12:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SellerChat.C001_ChatToBuyer()[pri:0, instance:SellerChat@1e965684]">C001_ChatToBuyer</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="b5ab66">  <td>19/02/18 10:13:50</td>   <td>63687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SellerChat.C001_ChatToBuyer()[pri:0, instance:SellerChat@1e965684]">C001_ChatToBuyer</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:12:43</td>   <td>-3793</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:SellerChat@1e965684]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:14:36</td>   <td>109443</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:SellerChat@1e965684]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:12:42</td>   <td>-4715</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:SellerChat@1e965684]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:14:36</td>   <td>109490</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:SellerChat@1e965684]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:12:43</td>   <td>-3793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:SellerChat@1e965684]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:13:48</td>   <td>61564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:SellerChat@1e965684]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:13:40</td>   <td>53538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:SellerChat@1e965684]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:14:21</td>   <td>94939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:SellerChat@1e965684]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
</table>
