<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>AddNewProduct</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>C005_NoProductName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C003_NoProductPhoto</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C010_AddExistingProductSku</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C006_ProductNameOver250Chars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C015_ProductDescriptionLowerThan30Chars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C011_NoProductPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C012_NoProductUnit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C013_NoProductWeight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C007_ProductNameSpecialChars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C008_NoProductSku</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C001_AddNewProductWithSubmit</td>
<td>uat </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>C009_ProductSkuOver30Chars</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C004_NoCategory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C014_NoProductDescription</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseTearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classTearDown</td>
<td>&nbsp;</td></tr>
</table>
