<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>uat</td><td>AddNewProduct.C001_AddNewProductWithSubmit()[pri:0, instance:AddNewProduct@7afb1741]<br/></td></tr>
</table>
