<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>uat</td><td>SendPrivateOffer.C002_SendPrivateOfferByPrice()[pri:0, instance:SendPrivateOffer@269308cc]<br/>SendPrivateOffer.C001_SendPrivateOfferByPercent()[pri:0, instance:SendPrivateOffer@269308cc]<br/></td></tr>
</table>
