<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PrivateOffer</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8a26f">  <td>19/02/18 06:34:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendPrivateOffer.C001_SendPrivateOfferByPercent()[pri:0, instance:SendPrivateOffer@269308cc]">C001_SendPrivateOfferByPercent</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="a8a26f">  <td>19/02/18 06:37:38</td>   <td>174723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendPrivateOffer.C002_SendPrivateOfferByPrice()[pri:0, instance:SendPrivateOffer@269308cc]">C002_SendPrivateOfferByPrice</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 06:34:41</td>   <td>-2396</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:SendPrivateOffer@269308cc]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 06:40:31</td>   <td>348355</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:SendPrivateOffer@269308cc]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 06:34:41</td>   <td>-2427</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:SendPrivateOffer@269308cc]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 06:40:32</td>   <td>348495</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:SendPrivateOffer@269308cc]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 06:34:41</td>   <td>-2396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:SendPrivateOffer@269308cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 06:37:36</td>   <td>172508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:SendPrivateOffer@269308cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 06:37:33</td>   <td>170053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:SendPrivateOffer@269308cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 06:40:29</td>   <td>345955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:SendPrivateOffer@269308cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
</table>
