<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Blog</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c094ae">  <td>19/01/03 07:02:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddBlog.C001_AddBlogWithValidData()[pri:0, instance:AddBlog@7267006e]">C001_AddBlogWithValidData</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="c094ae">  <td>19/01/03 07:03:50</td>   <td>84152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddBlog.C001_AddBlogWithValidData()[pri:0, instance:AddBlog@7267006e]">C001_AddBlogWithValidData</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>19/01/03 07:02:23</td>   <td>-2239</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:AddBlog@7267006e]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>19/01/03 07:05:05</td>   <td>159375</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:AddBlog@7267006e]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>19/01/03 07:02:23</td>   <td>-2270</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:AddBlog@7267006e]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>19/01/03 07:05:05</td>   <td>159516</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:AddBlog@7267006e]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>19/01/03 07:02:23</td>   <td>-2239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:AddBlog@7267006e]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>19/01/03 07:03:47</td>   <td>81839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:AddBlog@7267006e]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>19/01/03 07:03:28</td>   <td>62888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:AddBlog@7267006e]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="6d61be">  <td>19/01/03 07:04:50</td>   <td>144224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:AddBlog@7267006e]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
</table>
