<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>SetShippingSupport</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCase02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase01</td>
<td>uat </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCase06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase07</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase09</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseTearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classTearDown</td>
<td>&nbsp;</td></tr>
</table>
