<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>uat</td><td>SetShippingSupport.TestCase01()[pri:0, instance:SetShippingSupport@5bfdc92b]<br/></td></tr>
</table>
