<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>uat</td><td>ChooseCarrier.C001_ChooseVNPOST()[pri:0, instance:ChooseCarrier@e00c94e]<br/></td></tr>
</table>
