<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>abc</td><td>LoginFromSeller.C001_LoginWithNoUsername()[pri:0, instance:LoginFromSeller@1e965684]<br/>LoginFromSeller.C004_LoginWithValidData()[pri:0, instance:LoginFromSeller@1e965684]<br/></td></tr>
</table>
