<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Login</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:57:31</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:LoginFromSeller@1e965684]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:57:32</td>   <td>952</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:LoginFromSeller@1e965684]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:57:32</td>   <td>952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="b5ab66">  <td>19/02/18 09:57:35</td>   <td>4048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFromSeller.C001_LoginWithNoUsername()[pri:0, instance:LoginFromSeller@1e965684]">C001_LoginWithNoUsername</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:58:02</td>   <td>30857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:58:04</td>   <td>33169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="b5ab66">  <td>19/02/18 09:58:06</td>   <td>35330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFromSeller.C002_LoginWithNoPassword()[pri:0, instance:LoginFromSeller@1e965684]">C002_LoginWithNoPassword</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:58:33</td>   <td>61409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:58:35</td>   <td>63547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="b5ab66">  <td>19/02/18 09:58:37</td>   <td>65621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFromSeller.C003_LoginWithInvalidData()[pri:0, instance:LoginFromSeller@1e965684]">C003_LoginWithInvalidData</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:59:03</td>   <td>91780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:59:05</td>   <td>93965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="b5ab66">  <td>19/02/18 09:59:07</td>   <td>96129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFromSeller.C004_LoginWithValidData()[pri:0, instance:LoginFromSeller@1e965684]">C004_LoginWithValidData</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:59:35</td>   <td>123905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 09:59:38</td>   <td>126512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="b5ab66">  <td>19/02/18 09:59:40</td>   <td>128630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFromSeller.C005_SQLInjection()[pri:0, instance:LoginFromSeller@1e965684]">C005_SQLInjection</td> 
  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:00:07</td>   <td>156052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:00:07</td>   <td>156302</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:LoginFromSeller@1e965684]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>19/02/18 10:00:07</td>   <td>156318</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:LoginFromSeller@1e965684]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1335298403</td>   <td></td> </tr>
</table>
