<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Firefox</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:12:33</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:XSS@5d180628]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:12:34</td>   <td>454</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:XSS@5d180628]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:12:34</td>   <td>455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:13:04</td>   <td>30429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C002_XSS1()[pri:0, instance:XSS@5d180628]">C002_XSS1</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:13:55</td>   <td>82121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:14:01</td>   <td>87469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:14:10</td>   <td>96849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C002_XSS2()[pri:0, instance:XSS@5d180628]">C002_XSS2</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:15:21</td>   <td>167877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:15:25</td>   <td>171513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:15:34</td>   <td>180288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C002_XSS3()[pri:0, instance:XSS@5d180628]">C002_XSS3</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:16:22</td>   <td>228148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:16:25</td>   <td>232064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:16:33</td>   <td>239513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C011_DescriptionContainsXSS()[pri:0, instance:XSS@5d180628]">C011_DescriptionContainsXSS</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:17:27</td>   <td>293602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:17:30</td>   <td>296962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:17:38</td>   <td>304737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C012_SellerContainsXSS()[pri:0, instance:XSS@5d180628]">C012_SellerContainsXSS</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:18:26</td>   <td>353101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:18:30</td>   <td>356744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:18:37</td>   <td>363949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C013_TaxCodeContainsXSS()[pri:0, instance:XSS@5d180628]">C013_TaxCodeContainsXSS</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:19:31</td>   <td>417593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:19:35</td>   <td>421137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:19:42</td>   <td>428502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C014_AddressContainsXSS()[pri:0, instance:XSS@5d180628]">C014_AddressContainsXSS</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:20:37</td>   <td>483704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:20:40</td>   <td>487035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:20:48</td>   <td>494887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C017_ProductDescriptionContainsXSS01()[pri:0, instance:XSS@5d180628]">C017_ProductDescriptionContainsXSS01</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:21:56</td>   <td>562880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:22:05</td>   <td>571651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:22:12</td>   <td>578834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C017_ProductDescriptionContainsXSS01()[pri:0, instance:XSS@5d180628]">C017_ProductDescriptionContainsXSS01</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:23:21</td>   <td>647968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:23:56</td>   <td>682215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:24:03</td>   <td>689573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C018_ProductDescriptionContainsXSS02()[pri:0, instance:XSS@5d180628]">C018_ProductDescriptionContainsXSS02</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:26:02</td>   <td>808960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:26:09</td>   <td>815711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:26:17</td>   <td>823471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C019_ProductDescriptionContainsXSS03()[pri:0, instance:XSS@5d180628]">C019_ProductDescriptionContainsXSS03</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:28:49</td>   <td>976013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:28:58</td>   <td>984229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:29:06</td>   <td>992501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C019_ProductDescriptionContainsXSS03()[pri:0, instance:XSS@5d180628]">C019_ProductDescriptionContainsXSS03</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:30:59</td>   <td>1105428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:31:35</td>   <td>1141219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:31:43</td>   <td>1149319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C020_ProductDescriptionContainsXSS04()[pri:0, instance:XSS@5d180628]">C020_ProductDescriptionContainsXSS04</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:33:19</td>   <td>1245891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:33:41</td>   <td>1267609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:33:49</td>   <td>1275455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C020_ProductDescriptionContainsXSS04()[pri:0, instance:XSS@5d180628]">C020_ProductDescriptionContainsXSS04</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:35:28</td>   <td>1374154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:35:46</td>   <td>1392331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:35:55</td>   <td>1401724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C020_ProductDescriptionContainsXSS05()[pri:0, instance:XSS@5d180628]">C020_ProductDescriptionContainsXSS05</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:37:36</td>   <td>1502837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:37:51</td>   <td>1517717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:38:00</td>   <td>1527102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C020_ProductDescriptionContainsXSS05()[pri:0, instance:XSS@5d180628]">C020_ProductDescriptionContainsXSS05</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:39:39</td>   <td>1625553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:40:27</td>   <td>1673270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:40:37</td>   <td>1683550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C021_ProductSKUContainsXSS()[pri:0, instance:XSS@5d180628]">C021_ProductSKUContainsXSS</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:42:00</td>   <td>1766435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:42:04</td>   <td>1770800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:XSS@5d180628]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="b89a8d">  <td>19/02/18 07:42:14</td>   <td>1780383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="XSS.C022_ProductNameContainsXSS()[pri:0, instance:XSS@5d180628]">C022_ProductNameContainsXSS</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:43:39</td>   <td>1865917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:43:44</td>   <td>1870328</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:XSS@5d180628]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/02/18 07:43:44</td>   <td>1870348</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:XSS@5d180628]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
</table>
