<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ProgramSuite2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:49:51</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:login.LoginFromSeller@6df97b55]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:49:51</td>   <td>684</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:login.LoginFromSeller@6df97b55]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:49:51</td>   <td>689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:login.LoginFromSeller@6df97b55]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>18/07/19 14:49:55</td>   <td>4504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFromSeller.C002_LoginWithValidData()[pri:0, instance:login.LoginFromSeller@6df97b55]">C002_LoginWithValidData</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:19</td>   <td>28582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:login.LoginFromSeller@6df97b55]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:21</td>   <td>30681</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:login.LoginFromSeller@6df97b55]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:21</td>   <td>30710</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext)[pri:0, instance:login.LoginFromSeller@6df97b55]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:22</td>   <td>31515</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:chat.SellerChat@3dd3bcd]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:22</td>   <td>31523</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:chat.SellerChat@3dd3bcd]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:22</td>   <td>31524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:chat.SellerChat@3dd3bcd]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/07/19 14:50:25</td>   <td>34374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SellerChat.C001_ChatToBuyer()[pri:0, instance:chat.SellerChat@3dd3bcd]">C001_ChatToBuyer</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:53</td>   <td>62455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:chat.SellerChat@3dd3bcd]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:55</td>   <td>64524</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:chat.SellerChat@3dd3bcd]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>18/07/19 14:50:55</td>   <td>64542</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext)[pri:0, instance:chat.SellerChat@3dd3bcd]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142666848</td>   <td></td> </tr>
</table>
